<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="{%static "css/fb.css"%}">

    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <h1>Student feed back Form</h1>
      <form class=""  method="post">
        {{form.as_p}}
        {%csrf_token%}
        <input type="submit" class="btn btn-primary" name="" value="submit feedback">
      </form>
    </div>
  </body>
</html>
